
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
}

.section-header {
    text-align: center;
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px 5px 35px;
}

header.sticky{
    background-color: #fff;
    padding: 5px 100px 5px 35px;
    transition: 0.6s;
}

header .brand {
    color: #555;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 30px;
    padding: 10px 10px;
    border-radius: 40px;
    letter-spacing: 2px;
    transition: 0.3s;
    transition-property: color, background;
}

header .brand:hover{
    color: #000;
    background: #fff;
}

header .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu a {
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 30px;
    padding: 0 10px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: color, background;
}

header .menu a:hover {
    color: #000;
    background: #fff;
}

header .btn {
    color: #111;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

header .btn:hover {
    color: #000;
}

/* HERO SECTION */

.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%), url("images/mountain.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.hero h1 {
    color: rgba(255, 255, 255);
    background-color: #666;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
    padding: 5px 10px;
}

/* ABOUT SECTION */

#about {
    height: auto;
    background: #001018;
    padding: 20px 100px;
}

#about h2{
    color: rgba(255, 255, 255);
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0;
}

#about p{
    color: rgba(255, 255, 255);
    font-size: 18px;
    margin: 30px 0;
}

.profile img {
    width: 100%;
    border-radius: 700px;
    opacity: 0.5;
}

.profile img:hover {
    opacity: 1.0;
}

/* PROJECTS SECTION */
#projects {
    height: auto;
    background: #001018;
    padding: 20px 100px;
    border-top: 2px solid #fff;
    padding-bottom: 100px;
}

#projects h2{
    color: rgba(255, 255, 255);
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0;
}

#projects p{
    color: rgba(255, 255, 255);
    font-size: 18px;
    margin: 30px 0;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 300px;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: #fff;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.gallery a img {
    opacity: 0.5;
}

.gallery a img:hover {
    opacity: 1.0;
}

.project-links {
    display: flex;
    justify-content: center;
}

.project-links a {
    text-decoration: none;
    padding: 5px;
    color: #fff;
    border: 1px solid #fff;
    margin: 5px 5px 10px 5px;
}

.project-links a:hover {
    background-color: #45a049;
}

/* CONTACT SECTION*/
#contact {
    height: auto;
    background: #001018;
    padding: 20px 100px;
    border-top: 2px solid #fff;
}

#contact h2 {
    color: rgba(255, 255, 255);
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0;
}

#contact p {
    color: rgba(255, 255, 255);
    font-size: 18px;
    margin: 30px 0;
}

label {
    display: none;
    color: rgba(255, 255, 255, 0.75);
}

input[type=text], [type=email], [type=tel] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button[type=submit], [type=reset] {
    background-color: #283B37;
    color: white;
    padding: 12px 20px;
    transition: 0.3s;
}

button[type=submit]:hover,[type=reset]:hover {
    background-color: #45a049;
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.column img {
    width: 100%
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.social {
    display: flex;
    justify-content: center;
}

.social a img {
    padding-right: 10px;
    opacity: 0.5;
    transition: 0.2s;
    width: 82px;
}

.social img:hover {
    opacity: 1.0;
}

.error {
    color: red !important;
}

/* FOOTER SECTION */
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #000;
    font-size: 12px;
    color: #777;
    padding: 20px;
}

#footer:hover {
    background-color: #000;
}

#footer:hover a{
    color: #000;
}

#footer a {
    background-color: #f7f7f7;
    padding: 8px 16px;
    font-size: 15px;
    text-decoration: none;
    color: #666;
    margin: 20px 0px;
}

#footer a:hover{
    background-color: #f1f1f1;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    header .btn {
        display: block;
    }

    header .menu {
        position: fixed;
        background: #fff;;
        flex-direction: column;
        min-width: 350px;
        height: 50vh;
        top: 0;
        right: -150%;
        padding: 80px 10px;
        transition: 0.5s;
        transition-property: right;
    }

    header .menu.active {
        right: 0;
    }

    header .menu .close-btn {
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }

    header .menu a {
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }
}

@media (max-width: 768px) {
    .section-main h1 {
        font-size: 50px;
        line-height: 50px;
    }
}

@media (max-width: 768px) {
    #about, #projects, #contact {
        padding: 50px;
    }
}

@media screen and (max-width: 768px) {
    .column, button[type=submit], [type=reset] {
        width: 100%;
        margin-top: 0;
        margin-bottom: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 600px) {
    .responsive {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .social {
        display: flex;
        flex-direction: row;
    }
}